* {
  margin: 0;
}

/* Header Section Styles */
header {
  background-image: url("../images/banner/banner3.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 808px;
}

.header-container {
  width: 525px;
  height: 228px;
  text-align: right;
  padding-top: 150px;
  margin-right: 200px;
  float: right;
  font-family: "Work Sans", sans-serif;
  color: #ffffff;
}

.header-container h1 {
  font-weight: 700;
  font-size: 60px;
}

.header-container p {
  margin-top: 24px;
  font-weight: 400;
  font-size: 16px;
  padding-left: 50px;
  margin-bottom: 32px;
}

.primary-btn {
  width: 160px;
  height: 64px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #005fac;
  border: 0;
  font-family: "Work Sans", sans-serif;
  border-radius: 5px;
}

/* Previous Year Section Styles */
.previous-year {
  margin-left: 150px;
  margin-right: 200px;
}

.previous-year-container {
  display: flex;
  align-items: center;
  gap: 50px;
  font-family: "Work Sans", sans-serif;
}

.previous-year-description h1 {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}

.previous-year-description > p {
  margin-top: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 16px;
}

.previous-year-tasks {
  font-family: "Work Sans", sans-serif;
}

.tasks {
  display: flex;
  gap: 8px;
}

.tasks p {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 8px;
}

/* My Plans Section Styles */
.my-plans {
  margin: 120px 200px;
  font-family: "Work Sans", sans-serif;
}

.my-plans h1 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}

.my-plans-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.my-plans-item {
  text-align: center;
}

.my-plans-item h2 {
  font-weight: 700;
  font-size: 30px;
  color: #151414;
  margin: 15px 0;
}

.my-plans-item p {
  font-weight: 500;
  font-size: 25px;
  color: #737272;
}

/* Banner Section Styles */
.banner {
  background-image: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%),
    url("../images/watch.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  margin-bottom: 130px;
}

.banner-container {
  padding: 34px 0px;
  margin-left: 65px;
  float: left;
  text-align: left;
  padding-right: 442px;
}

.banner-container h1 {
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 24px;
}

/* Future Section Styles */
.future {
  background: #151414;
}

.future-container {
  display: flex;
  gap: 250px;
  padding: 130px 200px;
}
.future-description {
  font-family: "Work Sans", sans-serif;
}

.future-description h1 {
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
  margin-bottom: 18px;
}

.future-description p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 24px;
}

.social {
  margin-right: 17px;
}

.submit-email {
  font-family: "Work Sans", sans-serif;
}

.submit-email h4 {
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 30px;
}

.submit-email input {
  width: 325px;
  height: 64px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background: #151414;
  color: #ffffff;
  padding: 20px;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 15px;
}

.secondary-btn {
  width: 170px;
  height: 64px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  border: 0;
  font-family: "Work Sans", sans-serif;
  background: #005fac;
  border-radius: 5px;
}

/* Button Hover Effect */
.primary-btn:hover {
  background-color: #358ed7;
  color: #ffffff;
}

.secondary-btn:hover {
  color: #358ed7;
  background-color: #ffffff;
}
